#!/usr/bin/make -f

export DEB_CXXFLAGS_MAINT_APPEND = -DQT_NO_DEBUG_OUTPUT -DQT_NO_WARNING_OUTPUT
export DEB_VERSION = $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
	    -DBUNDLE_PROJECTM_PRESETS=OFF \
	    -DCMAKE_BUILD_TYPE=Release \
	    -DCMAKE_PREFIX_PATH=/usr/local \
	    -DCMAKE_INSTALL_PREFIX=/usr/local \
	    -DVISUALISATIONS=ON \
	    -DHAVE_VISUALISATIONS=ON \
	    -DProtobuf_PROTOC_EXECUTABLE=/usr/bin/protoc \
	    -DPROJECTM_INCLUDE_DIR=/usr/local/include/projectM-4 \
	    -DPROJECTM_LIBRARY=/usr/local/lib/libprojectM-4.so \
	    -DPROJECTM_PLAYLIST=/usr/local/lib/libprojectM-4-playlist.so

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_clean:
	rm -fv dist/Info.plist
	rm -fv dist/clementine.spec
	rm -fv dist/maketarball.sh
	rm -fv dist/windows/clementine.nsi
	rm -fv dist/windows/clementine-portable.nsi
	rm -fv src/translations/translations.pot
	dh_auto_clean

override_dh_installchangelogs:
	dh_installchangelogs Changelog

override_dh_auto_test:
