#!/usr/bin/make -f

export DEB_CXXFLAGS_MAINT_APPEND = -DQT_NO_DEBUG_OUTPUT -DQT_NO_WARNING_OUTPUT
export DEB_VERSION = $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
	    -DCMAKE_BUILD_TYPE=RelWithDebInfo \
  		-DCMAKE_C_FLAGS="-march=native -O2 -pipe -fgraphite-identity -fipa-pta -fmerge-all-constants -fwrapv -fno-strict-aliasing -fstack-protector-strong -g -fno-omit-frame-pointer" \
  		-DCMAKE_CXX_FLAGS="-march=native -O2 -pipe -fgraphite-identity -fipa-pta -fmerge-all-constants -fwrapv -fno-strict-aliasing -fstack-protector-strong -g -fno-omit-frame-pointer" \
	    -DCMAKE_PREFIX_PATH=/usr/local \
	    -DCMAKE_INSTALL_PREFIX=/usr/local \
	    -DHAVE_VISUALISATIONS=ON \
	    -DProtobuf_PROTOC_EXECUTABLE=/usr/bin/protoc

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_auto_clean:
	rm -fv dist/Info.plist
	rm -fv dist/clementine.spec
	rm -fv dist/maketarball.sh
	rm -fv dist/windows/clementine.nsi
	rm -fv dist/windows/clementine-portable.nsi
	rm -fv src/translations/translations.pot
	dh_auto_clean

override_dh_installchangelogs:
	dh_installchangelogs Changelog

override_dh_auto_test:
